* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    background-color: #202020;
  }
  
  body .calculator {
    width: 96%;
    height: 96%;
    border-radius: 8px;
    background-color: #303030;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 2%;
  }
  body .calculator .showcase {
    width: 94%;
    height: 10%;
    border-radius: 8px;
    position: absolute;
    top: 2%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #505050;
    display: grid;
    justify-content: right;
    place-items: center;
  }
  body .calculator .showcase p {
    font-size: 96px;
    color: white;
    font-family: "Consolas", serif;
    margin-right: 30px;
  }
  body .calculator .math {
    width: 94%;
    height: 10%;
    font-family: "Consolas", serif;
    background-color: #505050;
    border-radius: 8px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: 300ms;
    position: absolute;
    bottom: 2.5%;
    right: 0;
    left: 0;
    margin: auto;
  }
  body .calculator .math ul {
    list-style-type: none;
    justify-content: center;
    display: flex;
    margin: auto;
    gap: 1.5em;
  }
  body .calculator .math ul li {
    display: grid;
    color: white;
    place-items: center;
    width: 15%;
    transition: 300ms;
    cursor: pointer;
    height: 15%;
    border-radius: 8px;
    background-color: #202020;
  }
  body .calculator .math ul li:hover {
    background-color: #404040;
  }
  body .calculator #calculate {
    width: 20%;
  }
  body .calculator .buttons {
    font-family: "Consolas", serif;
    width: 90%;
    height: 30%;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
  }
  body .calculator .buttons ul {
    list-style-type: none;
    justify-content: center;
    display: flex;
    margin: auto;
    gap: 1.5em;
  }
  body .calculator .buttons ul li {
    display: grid;
    color: white;
    place-items: center;
    width: 30%;
    transition: 300ms;
    cursor: pointer;
    height: 0;
    padding-bottom: 10%;
    border-radius: 8px;
    background-color: #505050;
  }
  body .calculator .buttons ul li:hover {
    background-color: #404040;
  }
  body .calculator .buttons ul #delete {
    width: 30%;
    height: 0;
    padding-bottom: 10%;
  }
  body .calculator .buttons ul #delete:hover {
    color: rgba(223, 122, 122, 0.88);
  }
  body .calculator .buttons ul #ac:hover {
    color: rgb(75, 188, 129);
  }
  body .calculator .numbers {
    width: 94%;
    margin-top: 3%;
    margin-left: -2%;
    height: 80%;
  }
  body .calculator .numbers ul {
    list-style-type: none;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    gap: 1em;
  }
  body .calculator .numbers ul li {
    cursor: pointer;
    transition: 300ms;
    display: grid;
    color: white;
    place-items: center;
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    border-radius: 8px;
    background-color: #505050;
  }
  body .calculator .numbers ul li:hover {
    background-color: #404040;
  }
  body .calculator .symbols {
    width: 25%;
    float: right;
    height: 25%;
    margin-right: 0px;
  }
  body .calculator .symbols ul {
    list-style-type: none;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    gap: 1em;
    margin-top: 12%;
  }
  body .calculator .symbols ul li {
    cursor: pointer;
    transition: 300ms;
    display: grid;
    color: white;
    place-items: center;
    width: 100%;
    padding-bottom: 92.4%;
    height: 0;
    border-radius: 8px;
    background-color: #505050;
  }
  body .calculator .symbols ul li:hover {
    background-color: #404040;
  }
  
  /*# sourceMappingURL=style.css.map */
  